.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-image: url('/BackGround_Intro.png');
  background-size: cover;
  background-position: center;
}

.up {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.down {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.downText {
  position: absolute;
  top: 300px;
  right: 70px;
  text-align: left;
  font-size: 60px;
  font-weight: bold;
}

.indentedText {
  text-indent: 1em;
}

.kWorld {
  width: 800px;
  height: 800px;
}

.sKImage {
  position: absolute;
  left: 200px;
  top: 200px;
}

.logoImage {
  position: absolute;
  top: 5px;
  left: 30px;
}
.logoText {
  position: absolute;
  top: 20px;
  left: 150px;
  font-size: 40px;
}

.login {
  position: absolute;
  top: 30px;
  right: 50px;
  font-size: 20px;
  display: flex;
  align-items: center;
  gap: 35px;
}

.loginImage {
  width: 20px;
  height: 20px;
}

.boldText {
  font-weight: bold;
}

